################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DockerTestWeb/obj
/DockerTestWeb/bin/Debug/netcoreapp3.1
